{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{# {% block header %}
<img src="assets/img/logo-v2.png"/>
{% endblock %} #}


{# nu de block content op in de main pagina vullen #}
{% block content %}

{# Loop #}


    <div class="row p-0">
    {% for record in data %}
        <div class="col-md-6 ">
			<div style="padding:30px">
				<div class="shadow">
				{# begin block #}
					<div class="row">
						<div class="col-md-12">
							<div class="background-image" style="background-image: url({{record.image}})"> </div>
					</div>
					<div class="row">
						<div class="col-md-8 p-4">
							<div class="lighter-green"> <h1>{{ record.title }}</h1> </div>
						</div>
						<div class="col-md-4 p-4 d-flex justify-content-end">
							<div style="text-align:right"> {% include 'rating.html' %} </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 p-4">
							<div>{{record.short_description}} </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 p-4">
							<a class="smullen-button" type="submit" href="index.php?recipe_id={{record.id}}&action=detail" style="color: white; font-family: 'pretty_lilyregular'; font-size: 40px; text-align: center;"> Smullen! </a>
						</div>
						<div class="col-md-8 p-4 d-flex align-items-center justify-content-end">
							{% include 'persons_price_kcal.html' %}
							
						</div>
					</div>
				</div>
				{# eind block #}
			</div>
        </div>
    </div>
    {% endfor %}


{% endblock %}
