<html lang="nl">
<head>

    <title>het is verrukkuluk! :: {{ title }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>

</html>
<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
                </div>
                    {% block header %}
                    <div class="main-header background-image" style="background-image: url(assets/img/carbonara_wide.webp)";>
                    <img class="header-logo" src="assets/img/logo-v2.png"> 
                    </div>
                    {% endblock %}
                </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="col-md-12">
                <div class= "agenda-box"> 

                    <div <i class="fa fa-calendar fa-3x "></i> </div>
                    <div> <h3> Vegetarisch koken </h3> Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee </div>
                    
                       
                </div>
            </div>
            <div class="col-md-12">
                <div class="login-box">
                    <h1>Login</h1>
                    <h1>Login</h1>
                    <h1>Login</h1>

                </div>
            </div>      
        </div>


        <div class="col-md-9">
            {%  block content %}
            {%  endblock %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 " style= "background-color: var(--darker-orange);">
            <div> 
                <img class="footer-logo" src="assets/img/verrukkulluk-pay-off.png"> 
                <img class="footer-contact" src="assets/img/verrukkulluk-contact.png"> 
            </div>

            <div class="footer-text"> 
            <br><br><br>Verrukkulluk.nl <br>
            Poststraat 2b <br>
            Sittard <br>
            Info@verrukkulluk.nl<br><br><br>
            </div>
        </div>
    </div>


</div>

</body>
